.main-container{
 
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.8rem 1.2rem;
 
    border-radius: 6px;
    background-color: #ffff;
    box-shadow: 0px 0px 8px 0px #0000001a;
    border: 1px solid #e6e7eb;
    font-family: "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";

}
.sub-hd-tl span{
    font-size: 1rem;
    color: #8D8D8D;
}

.sub-desc-pt{
    border: 1px solid #e6e7eb;
    border-radius: 3px;
    padding: 2px;
}

.sub-hd{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.sub-tl{
    display: flex;
    align-items: flex-start;
    gap: 5px;
}
.sub-tl p{
    font-size: 1rem;
    color: #373737;
    font-weight: 500;
    line-height: 102%;

}
.sub-desc{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 3px;
}
.sub-desc-tag{
    font-size: 0.85rem;
    padding: 1px 0px;
    color: #8D8D8D;
}
.tag-wrapper{
    display: flex;
    gap: 5px;
    align-items: center;
    border: 1px solid #e6e7eb;
    border-radius: 3px;
    padding: 1px 5px;
}
.sub-hd-logo{
    font-size: 0.7em;
    background-color: rgb(235, 72, 72);
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
}


