.parent-cont{
     background-color: #F4F5F8;

}

.nav-head{
    display: flex;
    justify-content: space-between;
    background: #fff;
}






.main-card-header{
 
    display: flex;
 padding: 2% 2%;
 gap:1em;
 font-family: "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
 
}

.sub-main-title{
  justify-content: space-between;
    display: flex;
    padding-bottom: 15px;
    
    
}
.sub-main-head{
    width:20%;
   
 
}
.hd-icons{
    display: flex;
    flex-direction: row;
}

.st-title{
    font-size: 1rem;
    font-weight: 600;
    color: #373737;

}

.sub-main-item{
   padding: 2% 0;
}
.cnt{
    color:gray;
}

.usr-symb{
    font-size: 0.7em;
    background-color: rgb(235, 72, 72);
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
    margin: 0 5px;
}